$bezier: cubic-bezier(.47, -.38, .55, 1.97);

@keyframes showYear {
  from {
    height: 0;
  }
  to {
    height: 80px;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  45% {
    opacity: .7;
    transform: scale(.7);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes grow {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: inherit;
    transform: scale(inherit);
  }
}
