#content {
  background: $translucent-background;
  margin: 1em 2em;
  padding: 2em;
  position: relative;
  transition: all 500ms $bezier;
  overflow: auto;
  z-index: 1;

  header,
  section {
    width: 75%;
    float: right;
  }

  aside {
    width: 22%;
    font-size: .9em;

    .image {
      padding: 2em 0;
      text-align: center;

      img {
        max-width: 100%;
      }
    }
  }
}

.index #content {
  height: 0;
  overflow: hidden;
  padding: 0;

  transition: all 500ms $bezier;
}
