#content {
  background: $translucent-background;
  margin: 1em 2em;
  overflow: auto;
  padding: 2em;
  position: relative;
  transition: all 500ms $bezier;
  z-index: 1;

  header,
  section {
    float: right;
    width: 75%;
  }

  section {
    p,
    dl {
      padding: .5em 0 1em;
      text-align: justify;
    }

    img {
      max-width: 40%;
    }

    dt {
      font-weight: bold;
    }
  }

  aside {
    font-size: .9em;
    width: 22%;


    .image {
      padding: 2em 0;
      text-align: center;
    }

    .image img {
      max-width: 100%;
    }
  }
}

.index #content {
  height: 0;
  overflow: hidden;
  padding: 0;

  transition: all 500ms $bezier;
}

.about-event {
  .big {
    font-size: 1.2em;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .metatitle {
    display: block;
    font-size: .9em;
  }
  ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    margin-right: 1%;
    overflow: auto;
    vertical-align: top;
    width: 100%;

    p {
      text-align: left;
      margin: 0 0 .5em 0;
    }

    strong {
      display: block;
      font-size: 1em;
      margin-bottom: 1em;
    }

    img {
      display: inline-block;
      float: left;
      width: 110px;
      padding: .5em;
      margin: .5em 1em 1em 0;
    }
  }
}
