#content {
  background: $translucent-background;
  margin: 1em 2em;
  overflow: auto;
  padding: 2em;
  position: relative;
  transition: all 500ms $bezier;
  z-index: 1;

  header,
  section {
    float: right;
    width: 75%;
  }

  section {
    p,
    dl {
      @include column-count(2);
      @include column-gap(3em);
      @include column-rule-style(dashed);
      @include column-rule-width(1px);
      padding: .5em 0 1em;
      text-align: justify;
    }

    img {
      max-width: 40%;
    }

    dl {
      @include column-rule-style(none);
    }

    dt,
    dd {
      display: inline-flex;
      line-height: 1.8em;
    }

    dt {
      font-weight: bold;
      width: 25%;
    }

    dd {
      margin: 0;
      width: 70%;
    }
  }

  aside {
    font-size: .9em;
    width: 22%;


    .image {
      padding: 2em 0;
      text-align: center;
    }

    .image img {
      max-width: 100%;
    }
  }
}

.index #content {
  height: 0;
  overflow: hidden;
  padding: 0;

  transition: all 500ms $bezier;
}
