.vcard {
  color: $header-text-color;
  margin: 2em;
  padding: 0;
  position: relative;
  transition: all 500ms ease-out;

  .image {
    width: 15%;

    img {
      border: 2px solid $light;
      border-radius: 50%;
      width: 130px;
    }
  }

  .aka { font-style: italic; }
  .nickname { font-weight: bold; }
}

.vcard .image,
.vcard-names,
.tags {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  transition: all 500ms ease-out;
  vertical-align: middle;
}

nav {
  left: 15%;
  position: absolute;
  top: 80%;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a,
  a:visited,
  a:active {
    background: none;
    color: $header-text-color;
    padding: .2em 1em;
    text-decoration: none;
    transition: all 250ms ease-out;

    &:hover {
      background: $very-translucent-background;
      transition: all 250ms ease-out;
    }
  }
}

.vcard-names {
  width: 20%;
}

.tags {
  margin: 0;
  opacity: .6;
  text-align: right;
  width: 64.3%;

  ul {
    list-style: none;
  }
}

.index {
  .vcard {
    margin-bottom: 25%;
  }
}

.social-accounts {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  opacity: .5;

  li {
    display: inline-block;
  }

  a {
    color: $translucent-background;
    display: inline-block;
    font-size: 1.3em;
    line-height: 1.2em;
    margin: 0 0 0 .2em;
    text-decoration: none;
    vertical-align: middle;
  }

}

.vcard-names {
  h1 {
    line-height: normal;
    margin: 0;
    padding: 0;
  }
}
