#timeline {
  height: 50px;
  margin: 2em;
  position: relative;
  z-index: 1;

  .year,
  .event {
    position: absolute;
  }

  .year {
    border-left: 1px solid $light;
    display: inline-block;
    line-height: 50px;
    opacity: .2;
    padding-left: 5px;
    z-index: -1;
  }

  .event {
    background: $black;
    border-radius: 50%;
    display: inline-block;
    height: 15px;
    left: 0;
    opacity: .7;
    transition: all 250ms $bezier;
    width: 15px;
    box-shadow: 0 0 2px rgba(255, 255, 255, .5);

    &.talk {
      margin-top: 1.5em;
      opacity: .8;
      transform: scale(.6, .6);
    }
    &.project {
      margin-top: 1em;
      opacity: .8;
      transform: scale(.8, .8);
    }
  }

  .expanded {
    border-radius: 0;
  }
}

#current-event {
  position: absolute;
  text-align: center;
  left: 50%;
  width: 90%;
  margin-left: -45%;
  transition: all 500ms $bezier;
  color: #AAA;
  opacity: 0;
  top: 0;
  z-index: -1;

  .title {
    font-size: 1em;
    font-weight: bold;
  }

  &.visible {
    transition: all 500ms $bezier;
    top: -3.2em;
    opacity: 1;
  }
}
