#timeline {
  height: 80px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;

  .year,
  .event {
    position: absolute;
  }

  .year {
    border-left: 1px solid $translucent-light;
    background: $very-translucent-background;
    color: $light;
    cursor: pointer;
    display: inline-block;
    line-height: 30px;
    height: 80px;
    padding-left: 5px;
    z-index: -1;
    width: 100%;
  }

  .event {
    background: $translucent-light-bright;
    border-radius: 50%;
    display: inline-block;
    height: 15px;
    left: 0;
    margin: 2em;
    opacity: .7;
    transition: all 250ms $bezier;
    width: 15px;

    &.talk {
      margin-top: 3.5em;
      opacity: .8;
      transform: scale(.6, .6);
    }

    &.project {
      margin-top: 3em;
      opacity: .8;
      transform: scale(.8, .8);
    }
  }

  .expanded {
    border-radius: 0;
  }
}

#current-event {
  position: absolute;
  text-align: center;
  left: 50%;
  width: 90%;
  margin-left: -45%;
  transition: all 500ms $bezier;
  color: #AAA;
  opacity: 0;
  top: 0;
  z-index: -1;

  .title {
    font-size: 1em;
    font-weight: bold;
  }

  &.visible {
    transition: all 500ms $bezier;
    top: -3.2em;
    opacity: 1;
  }
}
