// Google Web Font
@import url(https://fonts.googleapis.com/css?family=Lobster|Roboto:400,700|Open+Sans:400,700|Droid+Sans:400,700);

// Icon Fonts
@import url(http://weloveiconfonts.com/api/?family=brandico);
[class*="brandico-"]::before { font-family: 'brandico', sans-serif; }

@import url(http://weloveiconfonts.com/api/?family=typicons);
[class*="typicons-"]:before { font-family: 'Typicons', sans-serif; }

@import 'normalize';

// Bower Components
@import 'leaflet';
@import 'bourbon';

// Support Styles
@import 'animations';

$background: rgb(29, 33, 34);
$translucent-background: rgba(29, 33, 34, .85);
$very-translucent-background: rgba(29, 33, 34, .3);
$text-color: #f5f3f5;
$black: #000;
$light: #f5f3f5;
$red: rgb(227, 28, 28);

// Components
@import 'base';
@import 'timeline';
@import 'map';
@import 'content';
@import 'header';
