@import 'bourbon';

$black: #000000;

body,
#content {
  color: $black;
  background: inherit;
}

a,
a:active,
a:hover,
a:link,
a:visited,
.about-event a,
.about-event a:active,
.about-event a:hover,
.about-event a:link,
.about-event a:visited {
  color: inherit;
}

#content {
  font-size: .9em;
  margin-top: 5em;

  section,
  header {
    width: 100%;
  }

  section p,
  section dl {
    @include column-count(1);
  }

  aside {
    display: none;
  }
}

h4 {
  margin-top: 2em;
}

.tags {
  position: absolute;
  right: 2em;
  top: 0;
  width: auto;
}

.vcard .vcard-names {
  width: auto;
}

#map,
nav,
#timeline,
.vcard .image,
.fork {
  display: none;
}

.social-accounts {
  display: block;
  width: 88%;
  left: 0;
  top: 5em;

  li {
    margin-right: 1.5em;
  }

  .icon {
    font-size: .7em;
  }

  .mail {
    display: none;
  }

  span.social-link {
    display: inline-block;
    font-size: .7em;
  }
}
