<header class="vcard" itemscope itemtype="http://schema.org/Person">

  <div class="image">
    <a href="/">
      <img alt="Sebastian Gräßl" src="<%= image_path 'bastilian_sebastian_graessl.jpg' %>" class="vcard-avatar" itemprop="image" />
    </a>
  </div>

  <div class="vcard-names">
    <h1 class="vcard-fullname" itemprop="name"><%= data.user.name %></h1>
    <% if data.user.alias %>
      <span class="aka">aka. <span class="vcard-username" itemprop="additionalName"><%= data.user.alias %></span></span>
    <% end %>
  </div>

  <nav>
    <ul>
      <li><a href="http://blog.bastilian.me">Blog</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>

  <div class="tags">
    <ul>
      <% data.user.tags.each do | tag | %>
        <li><%= tag.html_safe %></li>
      <% end %>
    </ul>
  </div>


  <ul class="social-accounts">
    <li class="mail">
      <script type="text/javascript">
        document.write("<a href=\"mail" + "to:" + new Array("mail","bastilian.me").join("@") + "\">" +
          "<span class=\"typicons-mail\"></span>" + "</" + "a>");
      </script>
    </li>
    <li><a rel="me" href="http://twitter.com/bastilian"><span class="icon brandico-twitter-bird"></span> <span class="social-link">http://twitter.com/bastilian</span></a></li>
    <li><a rel="me" href="http://github.com/bastilian"><span class="icon brandico-github"></span> <span class="social-link">http://github.com/bastilian</span></a></li>
  </ul>

</header>
