<div class="vcard">

  <img alt="Sebastian Gräßl" src="<%= image_path 'bastilian_sebastian_graessl.jpg' %>" class="fn photo">

  <h1>Sebastian Gräßl</h1>
  <p>
  <div class="aka">
    aka. <span class="nickname">bastilian</span>
  </div>
  </p>

  <ul class="social-accounts">
    <li><a rel="me" href="http://twitter.com/bastilian"><span class="icon brandico-twitter-bird"></span></a></li>
    <li><a rel="me" href="http://github.com/bastilian"><span class="icon brandico-github"></span></a></li>
    <li><a rel="me" href="http://instagram.com/bastilian"><span class="icon brandico-instagram"></span></a></li>
  </ul>

  <p class="addr">
    living in <strong><span class="locality">Vienna</span>, <span class="country-name">Austria</span></strong>.
  </p>

  <p>
    <strong>Application Support Engineer</strong> at <a href="http://engineyard.com/" class="ey"><strong>Engine Yard, Inc.</strong></a>
  </p>

</div>
