<div class="vcard">

  <img alt="Sebastian Gräßl" src="<%= image_path 'bastilian_sebastian_graessl.jpg' %>" class="fn photo" />

  <h1>Sebastian Gräßl</h1>
  <span class="aka">aka. <span class="nickname">bastilian</span></span>&nbsp;&nbsp;|
  <ul class="social-accounts">
    <li><a rel="me" href="http://twitter.com/bastilian"><span class="icon brandico-twitter-bird"></span></a></li>
    <li><a rel="me" href="http://github.com/bastilian"><span class="icon brandico-github"></span></a></li>
    <li><a rel="me" href="http://instagram.com/bastilian"><span class="icon brandico-instagram"></span></a></li>
  </ul>


  <ul class="work">
    <% data['info']['work'][0..0].each do | work | %>
      <li>
        <strong><%= work['position'] %></strong> at <a href="http://engineyard.com/" class="<%= work["css"] -%>"><strong><%= work['company'] -%></strong></a>
      </li>
    <% end %>
  </ul>

</div>
