<div class="vcard" itemscope itemtype="http://schema.org/Person">

  <img alt="Sebastian Gräßl" src="<%= image_path 'bastilian_sebastian_graessl.jpg' %>" class="vcard-avatar" itemprop="image" />

  <div class="vcard-names">
    <h1 class="vcard-fullname" itemprop="name">Sebastian Gräßl</h1>
    <span class="aka">aka. <span class="vcard-username" itemprop="additionalName">bastilian</span></span>
  </div>

  <ul class="social-accounts">
    <li><a rel="me" href="http://twitter.com/bastilian"><span class="icon brandico-twitter-bird"></span></a></li>
    <li><a rel="me" href="http://github.com/bastilian"><span class="icon brandico-github"></span></a></li>
    <li><a rel="me" href="http://instagram.com/bastilian"><span class="icon brandico-instagram"></span></a></li>
  </ul>

  <p>
    programmer; data & information nerd; free and open culture enthusiast;  organiser of <a href="http://www.rossconf.io/"><strong>ROSSConf</strong></a> & <a href="http://night-of-support.at/"><strong>Night Of Support</strong></a> events.
  </p>
</div>
