---
title: "Privacy Policy"
---

<p>
  I am using Google Analytics to better understand and see what is and makes my site interesting to others.
</p>
<p>
  You can learn more about <a title="Google Analytics' privacy policy" href="http://www.google.com/analytics/learn/privacy.html">Google Analytics</a> or <a title="How to opt out of google analytics" href="https://tools.google.com/dlpage/gaoptout">opt out if you wish</a>.
</p>
